* {
    background-color: #FAFAFA;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
}

body {
    padding: 0;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
    "header"
    "picture-container"
    "content-box-1"
    "break"
    "picture-container-2"
    "content-box-2"
    "bottom-box"
;
}
.header-and-logo{
    height:28px;
}

.header {
    grid-area: header;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 54px;
}
.header img {
    width: 119px;
    height: 28px;
}


.picture-container img {
    width: 199px;
    height: 153px;
}

.picture-container {
    grid-area: picture-container;
    display: flex;
    overflow-x: hidden;
    justify-content: center;
    gap: 1rem;
}

.content-box-1 {
    grid-area: content-box-1;
}

.break {
    grid-area: break;
}

.line {
    width: 1px;
    height: 84px;
    background-color: rgba(135, 135, 157, 0.25);
    margin: 0 auto;
}
.circle {
    height: 56px;
    width:56px;
    background-color: #FAFAFA;
    border-radius: 50%;
    margin: 0 auto;
    border: 1px solid rgba(135, 135, 157, 0.25)
}


.picture-container-2 {
    grid-area: picture-container-2;
}

.content-box-2 {
    grid-area: content-box-2;
}

.bottom-box {
    grid-area: bottom-box;
}