* {
    background-color: #FAFAFA;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    padding: 24px;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
    "header"
    "picture-container"
    "content-box-1"
    "break"
    "picture-container-2"
    "content-box-2"
    "bottom-box"
;
}

.header {
    grid-area: header;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 54px;
}
.header img {
    width: 119px;
    height: 28px;
}

.picture-container {
    grid-area: picture-container;
}

.content-box-1 {
    grid-area: content-box-1;
}

.break {
    grid-area: break;
}

.picture-container-2 {
    grid-area: picture-container-2;
}

.content-box-2 {
    grid-area: content-box-2;
    display: flex;
    text-align: center;
    justify-content: center;
}
.text-box-2 {
    width: 327px;
}
.text-box-2 h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 26px;
    color: #4D96A9;
    font-size: 16px;
    margin: 0;
}
.text-box-2 h2 {
    line-height: 36px;
    font-size: 32px;
    color: #28283D;
    padding-top: 24px;
    margin: 0;
}
.text-box-2 p {
    color: #87879D;
    font-size: 16px;
    line-height: 26px;
    padding-top: 32px;
    margin: 0;

.bottom-box {
    grid-area: bottom-box;
}